div {
    color: rgb(29, 33, 231);
    background-color: rgb(48, 204, 82);
    font-size: 32px;
    text-align: center;
    
  }
  
  p {
    color: rgb(212, 16, 16);
    background-color: rgb(72, 248, 18);
    font-size: 25px;
  }

  button {
    color: rgb(0, 0, 0);
    background-color: bisque;
  }

    
  )